body {
    height: 100%;
}

#root {
    overflow-y: scroll;
}

#root::-webkit-scrollbar {
    display: none;
}

.signup-component-container{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 1100px;
}
.signup-component-container-modal{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
}

.signup-form-container{
        height: auto;
        width: 566px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;
        border-radius: 12px;
}

.additional-input-field{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.additional-input-field input{
    font-size: 16px;
}
