.single-spot-outer-container {
    /* background-color: red; */
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

/* --------------------- Header Container ----------------------------------------- */
.main-header-container {
    padding-bottom: 24px;
    padding-top: 24px;
}

.header-details {
    font-size: 26px;
}

.header-sub-details {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header-sub-details span {
    padding: 0px 5px;
}

.header-sub-details span,
p {
    margin: 0;
}



/* ----------------Display Images Container --------------------------------- */
.main-image-container {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    height: 100%;
    min-height: 450px;
    max-height: 560px;
    border-radius: 24px;
    position: relative;

}

.left-image-container-main {
    width: 50%;
    background-color: green;
    height: 100%;
}

.left-image-container-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px
}

.right-image-container-quad {
    width: 50%;

}

/* .right-image-container-quad img{
    width: 25%;
    height: 25%;

} */

/* .index1 img{
    position: absolute;
    top:0;
    left:50;
}
.index2 img{
    position: absolute;
    top:0;
    right:1000;
}
.index3 img{
    position: absolute;
    top:0;
    left:0;
}
.index4 img{
    position: absolute;
    top:0;
    left:0;
} */
/* -------------------------- Image Variant 1 ================= 1 Image --------------------------------- */

.full {
    width: 100%;
    height: 100%;
}

.full img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

/* -----------------Image Variant 2 ================= 2 Images --------------------------------- */
.left-main {
    width: 50%;
    /* background-color: green; */
    height: 100%;
}

.left-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px
}

.right-main {
    width: 50%;
    height: 100%;
}

.right-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px
}


/* ------------------ Image Variant 3 ================= 3 Images -------------------------------------- */
.right-top-half {
    position: absolute;
    top: 0%;
    left: 50%;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.right-top-half img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 24px;
}

.right-bottom-half {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.right-bottom-half img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 24px;

}

.left-75-percent {
    width: 75%;
    height: 100%;
}

.left-75-percent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-half {
    width: 25%;
    height: 50%
}

/* .right-half img{
    width: 100%;
    height: 100%;
} */

/* ---------------------- Image Variant 4 ================== 4 Images ---------------------- */
.bottom-left-split {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 8px;
    width: 25%;
    height: 50%;
    box-sizing: border-box;
}

.bottom-left-split img {
    width: 100%;
    height: 100%;
}

.bottom-right-split {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding-left: 8px;
    width: 25%;
    height: 50%;
    box-sizing: border-box;
}

.bottom-right-split img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 24px;
}


/* ------------------ Image Variant 5 ------------------------------------ */
.left-main {}

.right-quad {
    width: 25%;
    height: 50%;
    box-sizing: border-box;
}

.right-quad img {}

.index1 {
    position: absolute;
    top: 0%;
    left: 50%;
    padding-left: 8px;
    padding-bottom: 8px;
}

.index1 img {

    width: 100%;
    height: 100%;
}

.index2 {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-left: 8px;
    padding-bottom: 8px;

}

.index2 img {
    border-top-right-radius: 24px;
    width: 100%;
    height: 100%;

}

.index3 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 8px;
}

.index3 img {
    width: 100%;
    height: 100%;


}

.index4 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding-left: 8px;
}

.index4 img {
    border-bottom-right-radius: 24px;
    width: 100%;
    height: 100%;

}


/* Can use the .index class to control the absolute positioning */

/* ------------------------     Main Details Container           ----------------------------------------------- */
.main-details-container {
    display: flex;
    height: 100%;
    position: relative;
    border-bottom: #DDDDDD 1px solid;
}


/* -------------------- Left Side Container ----------------------------------------- */

.left-details-container {
    width: 60%;
    height: 100%;
    /* background-color: orange; */
}

.details-header {
    border-bottom: 1px solid #DDDDDD;
    padding: 48px 0px 24px;
}

.details-header h2 {
    margin: 0px;
    font-size: 22px;
}

.details-body {
    border-bottom: 1px solid #DDDDDD;
    font-weight: 500;
}

.details-body-sub {
    margin-bottom: 24px;
}

.details-body-2 {
    border-bottom: 1px solid #DDDDDD;

}

.details-body-2 h4 {
    font-weight: 500;
}


.details-body-3 {
    font-weight: 500;
}

.body-button {
    display: flex;
    padding: 32px 0px;
}

.details-body-3 button {
    background-color: #E61E4D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    width: 100%;
    height: 20px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}

/* --------------------------------------------------------- Card Container ------------------------- */

.right-details-container {
    display: flex;

    justify-content: center;
    width: 40%;
    position: relative;
    padding-bottom: 20px;
}

.card-container {
    box-sizing: border-box;
    margin-top: 48px;
    width: 80%;
    min-height: 250px;
    max-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    color: rgb(34, 34, 34);
    position: sticky;
    top: 60px;
}

.form {
    width: 90%;
    height: 90%;
}

.form-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-details span {
    font-size: 16px;
    font-weight: 300;
}

.form-details-right {
    display: flex;
    align-items: center;
}

.card-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 90%;
}

.form-body p {
    margin: 5px 0px 5px;
}

.price-per-night {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.cleaning-fee {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.service-fee {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
    font-weight: 300;
}

.total-before-taxes {
    display: flex;
    justify-content: space-between;
}

/* --------------------    Reviews Conteiner      ---------------------------- */
.main-reviews-container {
    width: 100%;
    font-family: Arial, sans-serif;
}



.review-title {
    font-size: 22px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.review-title h1 {
    font-size: 16px;
}

.review-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    width: 100%;

}

.review-header h2 {
    font-size: 16px;
    font-family: Arial, sans-serif;

}

.review-header p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 100;

}

.review-body::-webkit-scrollbar {
    display: none;
}

.review-body {
    overflow-y: scroll;
    scrollbar-width: none;
}

.review-body h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.review-image {
    height: 100px;
    width: 100%;
}


.add-image-delete-review-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}


.delete-review-button {
    background-color: #E61E4D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    width: 150px;
    height: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
